* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  
  background-color: black;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.nav-links a:hover {
  
  text-decoration: underline;
}

.total-items {
  color: white;
}

img {
  max-width: 100%;
}

.title {
  text-align: center;
  padding: 30px 0;
}

.container-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 20px; /* Espacio entre bloques */
  list-style: none; /* Eliminar estilo de lista */
  padding: 0;
  margin: 0;
}

.card-product {
  flex: 25%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.container-img {
  flex: 1;
}

.container-img img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.info-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 30px;
  height: 100%;
}

.info-product h3 {
  color: #777;
  font-weight: 500;
}

.price {
  color: #000;
  font-weight: 700;
  margin: 15px 0;
}

.info-product button {
  background-color: #000;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
  margin-top: auto;
}

.box {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.total {
  color: #fff;
  
  top: 20px; /* Ajusta la distancia desde el borde superior */
  right: 15%; /* Ajusta la distancia desde el borde derecho */
  height: 6em; /* Ajusta la altura según sea necesario */
  padding: 1.5em; /* Ajusta el espacio interior según sea necesario */
  will-change: filter;
  transition: filter 300ms;
}